# Listen on non-standard port
Port 3025

Protocol 2

# --- CRITICAL SECURITY ---
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no

# --- BASTION HOST BEST PRACTICE ---
# Only allow the 'admin' user from the Bastion's IP.
AllowUsers admin@10.10.30.3

# Log to stderr
LogLevel INFO
X11Forwarding no
AllowTcpForwarding no
