# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# This group is read by the server
[mysqld]

# --- ERROR LOGGING ---
log_error = /var/log/mysql/error.log

# --- GENERAL LOGGING (DISABLED) ---
# We disable this because the Audit Plugin below handles it 
# in a format that is much easier for Fluent Bit to read.
general_log = 0
# general_log_file = /var/log/mysql/mysql.log

# --- AUDIT PLUGIN LOGGING (CSV) ---
# Load the plugin (Standard in MariaDB/Alpine)
plugin_load_add = server_audit=server_audit.so

# Enable the logging
server_audit_logging = ON

# What to log:
# CONNECT: Logins/Logouts
# QUERY:   Actual SQL statements
# TABLE:   Table access details
server_audit_events = CONNECT,QUERY,TABLE

# Output settings
server_audit_output_type = FILE
server_audit_file_path = /var/log/mysql/audit.log

# Rotation settings (keep 9 files of 1MB each)
server_audit_file_rotate_size = 1000000
server_audit_file_rotations = 9

# --- SECURITY ---
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
